:root {
    --defult-font-family: "Nunito",
        sans-serif;
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--defult-font-family);
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}
h4 {
    font-size: 24px;
}

p {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.hero-text,
h5 {
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
}

.navbar>.container-fluid {
    padding: 0px 140px;

}

.container {
    padding: 100px 80px;
}

.shecodes-logo {
    max-width: 10%;
}

.hero {
    text-align: center;
    color: white;
    background-image: url(/styles/home-image/overlay.png);
    padding: 50px;
    background-repeat: no-repeat;
}

.col-6.h3 {
    font-size: 28px;
}

#secound-row,
#third-row,
#forth-row {
    margin-top: 0px;
}

.food-name {
    font-size: 28px;
    line-height: 38.19px;
    text-align: start;
}

@media only screen and (max-width: 820px) {
    .container {
        padding: 20px;
    }

    #secound-row,
    #third-row,
    #forth-row {
        margin-top: 0px;
    }

    .navbar>.container-fluid {
        flex-wrap: nowrap;
        padding: 20px;
    }

    .shecodes-logo {
        max-width: 30%;
    }

    h1 {
        font-size: 52px;
    }

    p {
        font-size: 18px;
        line-height: 28px;
    }

    .food-name {
        font-size: 24px;
    }
}

/*about page*/
.favorite-recipe {
    padding: 100px 140px;
}

.favorite-recipe h3 {
    text-align: center;
    margin-bottom: 41px;
}

.content-container {
    padding: 50px 240px;
}

.hero-title {
    text-align: center;
    padding-bottom: 126px;
}

#profile-text {
    align-items: center;
}

.profile-description p {
    font-size: 18px;
    line-height: 30px;
    padding: 36px 0 52px;
}


.social-icons, .ingredient{
    display: flex;
    align-items: flex-start;
    font-size: 20px;
}

.social-icons a {
    margin-left: 20px;
    color: #272142;
}

.social-icons p {
    margin-right: 10px;
    padding-top: 5px;
}

@media only screen and (max-width: 820px) {


    .favorite-recipe {
        padding: 50px 20px;
    }

    .hero-title {
        text-align: center;
        padding-bottom: 50px;
    }

    .profile-description p {
        padding: 0;
    }

    .profile-description h2 {
        font-size: 36px;
    }

    .favorite-recipe h3 {
        text-align: left;
    }

    .content-container {
        padding: 50px 20px 0;
    }

    .social-icons a {
        margin-left: 5px;

    }
}

/*work page */
.recipe-collection {
    max-width: 760px;
    display: block;
    margin: 0 auto;
}
.recipe {
    margin: 42px 0;
}
