:root {
    --defult-font-family: "Nunito",
        sans-serif;
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--defult-font-family);
}

h1 {
    font-size: 72px;
}

p {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
}
.navbar>.container-fluid{
    padding: 0px 140px;

}
.container {
    padding: 100px 80px;
    
}

.shecodes-logo {
    max-width: 10%;
}

.hero {
    text-align: center;
    color: white;
    background-image: url(/styles/home-image/overlay.png);
    padding: 50px;
    background-repeat: no-repeat;
}

.col-6.h3 {
    font-size: 28px;
}

#secound-row,
#third-row,
#forth-row {
    margin-top: 0px;
}

.food-name {
    font-size: 28px;
    line-height: 38.19px;
}

@media only screen and (max-width: 767px) {
    .container {
        padding:20px;
    }

    #secound-row,
    #third-row,
    #forth-row {
        margin-top: 0px;
    }

    .navbar>.container-fluid {
        flex-wrap: nowrap;
        padding: 20px;
    }

    .shecodes-logo {
        max-width: 30%;
    }
    h1 {
        font-size: 52px;
    }
    p {
        font-size: 18px;
        line-height: 28px;
    }
    .food-name {
        font-size: 24px;
    }
}